// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";

*{
    font-family: 'Geologica', sans-serif;
}

body{
    background-image: linear-gradient(to top, #374f59 20%, #6E9277 80%);
}

#title{
    text-shadow: 3px 3px 5px #00FF57;
}
.silver_color{
   color: #ECF0F1;
}
.blueish_color{
    color: #6E9277;
}
.eggplant_color{
    color: #374F59;
}
.card{
    background-color: #ECF0F1;
    filter: drop-shadow(-3px 3px 1rem #00FF57);
}
.container{
    padding: 2rem 0;
}

ul{
    list-style-type: none;
}

body::-webkit-scrollbar {
    display: none;
}
